body{
    background: url("../public/portafolio/images/fondo.jpg");
    height: 100%;
    background-size: cover;                     
    background-repeat:   no-repeat;  
    background-position:center; 
    opacity: .8; 
}


.bg-black{
    background: #000 ;
    
}


.card-project:hover{
    border:1px solid #fff !important; 
    cursor: pointer;
}

.img-post{
    width:1030px;
    height:450px;
}

#img-avatar{
    height:320px;  
    margin: 11px 5px 0px 5px;
    border: dotted;
}


@media screen and (max-width: 600px) {
.img-post{
    width: 235px;
   } 

   .nav-link{
    text-align: center;
   }

   #buton{
    margin:0 auto;
   }

   #img-avatar{
    text-align: center;
    height:265px;  
    margin: 25px 5px 0px 5px;
   }
} 

